@use "../../assets/sass/_variables.scss"as *;
.greetings__wave{
    padding-left: 15px;
}
.greeting__firstName{
    font-family: $title-font-family;
    font-weight: normal;
    padding-top: 30px;
    margin-left: 45px;
    width: 220px;
}

