$color-black: #06020A;
$color-blue: #0B2251;
$color-white: #FFFFFF;
$color-lightblue: #0AF8FF;
$color-middle-blue: #00CED4;
$color-light-gray: #839AAF;


$color-button-primary: #00CED4;

$color-font-gray: #5B6D7D;
$color-font-lightgray: #8896A3;
$color-nav-font-light-gray: #A6AFBD;
$color-nav-font-dark-gray: #343C49;


$color-light-gray-info-bar: #FBFBFC;
$color-background: #F1FFFF;

$title-font-family: 'Outfit';
$secondary-font-family: 'Lato';
$nav-font-family: 'Roboto';
$third-font-family: 'Inter';

* {
    font-family: $title-font-family ;
}
.signup-form {
    width: 30%;
    margin: 10px;
    padding: 10px;
}
h1 {
    margin: 0;
    padding-bottom: 0;
}
.ipsum {
   color: $color-font-lightgray; 
   margin-top: 0;
   
}

.input {
    background:$color-light-gray-info-bar;
    border: 1px solid #E2E2E2;
    border-radius: 6px;
    height: 40px;
    margin-top: 10px;
    font-size: 16px;
    line-height: 20px;
    color:$color-nav-font-light-gray;
}
// .password {
//     width: 100%;
// }
.fontAwesome_icon {
    //width: 100px;
    margin-left: -30px; 
}
.SignUpForm {
    display:flex;
    flex-direction: column;
    

    &__div {
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;
        color:$color-font-gray;
        
    }
    
    &__hasAccount {
        &__question {
            color:$color-font-lightgray;
        }
        &__login {
            color:$color-middle-blue;
        }
    }
    
    &__btn {
        background: rgba(0, 206, 212, 0.4);
        border: none;
        border-radius: 6px;
        color: $color-white;
        width: 90px;
        height: 40px;
        margin-right: 0;
        margin-left: auto;
        font-weight: bold;
    }
    
    // &__hasAccount {
        
    // }
}

.valid {
    color: #57E141;
    font-size: 10px;
}

.invalid {
    color: #DF1C1C;
    font-size: 10px;
}
