.LandingMain {
  background-color: #EFFFFF;
}

.navbar__image {
  background-color: #EFFFFF;
  width: 100%;
}

.backgound__image {
  align-content: center;
  text-align: center;
  align-items: center;
  background-color: #EFFFFF;
}
.backgound__image .landing__image {
  padding-top: 20px;
  width: 100%;
}

.bankClients {
  align-content: center;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  padding-bottom: 50px;
  background-color: #FFFFFF;
}
.bankClients .bankClients__title {
  background-color: #FFFFFF;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 110%;
  text-align: center;
}
.bankClients .bankLogosImg {
  display: flex;
  background-color: #FFFFFF;
}
.bankClients .bankLogosImg__one {
  margin-right: 50px;
  margin-left: 30px;
  background-color: #FFFFFF;
}
.bankClients .bankLogosImg__two {
  margin-right: 50px;
  margin-left: 30px;
  background-color: #FFFFFF;
}
.bankClients .bankLogosImg__three {
  margin-right: 50px;
  margin-left: 30px;
  background-color: #FFFFFF;
}

.features {
  align-content: center;
  text-align: center;
  align-items: center;
  padding-top: 80px;
  font-family: "Outfit";
  font-style: normal;
  padding-bottom: 80px;
  background-color: #EFFFFF;
  text-align: center;
}
.features__title {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 110%;
}
.features__button {
  background: #EFFFFF;
  border: 2px solid #00CED4;
  border-radius: 6px;
  color: #00CED4;
  width: 214px;
  height: 64px;
  padding: 23px 50px 23px 50px;
  font-family: "Inter";
  font-size: 16px;
  text-align: center;
}

.converter {
  align-content: center;
  text-align: center;
  align-items: center;
  background-color: #00CED4;
  overflow: visible;
  height: 300px;
  text-align: center;
  color: #FFFFFF;
  padding: 20px;
}
.converter__title {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 110%;
  background-color: #00CED4;
}
.converter__subline {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  padding: 20px;
  background-color: #00CED4;
}

.converter__image {
  align-content: center;
  text-align: center;
  align-items: center;
  border-radius: 8px;
  width: 1079px;
  padding: 30px;
  box-shadow: 5px 10px 10px #d5cece;
  background-color: #FFFFFF;
}

.currencies {
  align-content: center;
  text-align: center;
  align-items: center;
  font-style: normal;
  padding: 250px;
  overflow: visible;
  text-align: center;
  background-color: #FFFFFF;
}
.currencies__title {
  font-family: "Outfit";
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  color: #06020A;
  background-color: #FFFFFF;
}
.currencies__subline {
  font-family: "Lato";
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  padding: 20px;
  color: #839AAF;
  background-color: #FFFFFF;
}
.currencies__img {
  background: #FFFFFF;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
}

.footer {
  background-color: #06020A;
  overflow-y: auto;
  width: 100%;
}/*# sourceMappingURL=LandingMain.css.map */