@use "../../assets/sass/_variables.scss"as *;

.contact-details-transactions {
  display: flex;
  flex-direction: column;

  &__header {
    h1 {}

    h2 {}

  }


  &__main {
    // display: flex;
    // flex-direction: row;
    display: grid;
    grid-template-columns: 2fr 4fr;
    margin: 20px;


    .contact-details {

      &__account-recipient {

        &__details {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          padding: 20px 0px;
          font-weight: 500;
          font-size: 16px;
          border-bottom: 1px solid $color-background-clear;
          margin: 0px 60px;


        }
      }

      &__buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: $color-light-gray-info-bar
      }

      &__blankSpace {
        background-color: $color-middle-blue;
        padding: 20px;
        ;

      }



    }


    .transaction-details {
      display: flex;
      flex-direction: column;
      background-color: $color-light-gray-info-bar
    }

  }
}