@use "../../assets/sass/_variables.scss" as *;

.contact-details-transactions {
  display: flex;
  flex-direction: column;
  &__main {
    display: flex;
    flex-direction: row;
    margin: 20px;
    .contact-details{
      background-color: $color-light-gray-info-bar;
    }
    .transaction-details {
      background-color: $color-light-gray-info-bar;
    }
   
  }
}