.userdashboard{
    display: grid;
    grid-template-columns: 1fr 7fr;
    
    &_menu{
        border-right: 3px ridge lightgray;
    }
    &_main{
        
        &_top{
            display: flex;
            flex-direction: row;
            justify-content:space-between;
            align-items: center;
            padding: 10px;    
        }
    }
}