@use "../../assets/sass/_variables.scss"as *;

.account-form {
  background: $color-light-gray3;
  padding: 15px 20px;
  border: 1px solid $color-light-gray3;
  border-radius: 8px;
  // margin: 20px 0px;
  width: 480px;
  height: fit-content;
  font-family: $title-font-family;
  align-items: center;

  &__username {
    color: $color-middle-blue;
    font-weight: 500;
    font-size: 18px bold;
  }

  &__details {
    display: flex;
    justify-content: space-between;

    p,
    h3 {
      font-size: 14px;
      font-weight: 400;
      color: $color-font-light-gray;
    }

    &__sort-code {
      padding-bottom: 10px;
    }
  }

  &__total {
    border-top: 1px solid $color-background-clear;
    width: 100%;
    padding-top: 12px;
    padding-bottom: 0px;

    &__amount {
      display: flex;
      justify-content: space-between;

      h3,
      p {
        font-size: 14px;
        font-weight: 400;
        text-align: right;
        color: $color-black;
      }
    }

    &__funds-rem {
      display: flex;
      justify-content: space-between;
      // padding-top: 10px;
      font-size: 14px;
      text-align: right;
      color: $color-font-light-gray;

      h3,
      p {
        font-weight: 400;
      }
    }
  }
}