@use "../../assets/sass/_variables.scss" as *;

  .live-rates {
    padding-left: 50px;

    &__h4 {
      color: $color-middle-blue;
      font-family: $title-font-family;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 15px;
      margin-bottom: 0px;
      padding: 20px 0 0 0;

    }

    &__h2 {
      font-family: $title-font-family;
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      padding: 10px 0;
    }

    &__para {
      font-family: $third-font-family;
      width: 514px;
      height: 72px;
      font-style: normal;
      font-size: 16px;
      line-height: 150%;
      margin-top: 0px;
      margin-bottom: 30px;
      color: $color-font-light-gray;
    }
  }

.button {
  width: 114px;
  height: 40px;
  font-family: $third-font-family;
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
  color: $color-white;
  border: solid 2px $color-white;
}

.primary {
  background-color: $color-middle-blue;

}

.secondary {
  width: 108px;
  height: 32px;
  background-color: $color-white;
  margin-left: 70px;
  margin-top: 20px;
  border: 1px dashed $color-font-light-gray;
  border-radius: 8px;
  color: $color-font-light-gray;
  font-family: $third-font-family;
  font-style: normal;
  font-size: 12px;
  line-height: 15px;
}