
.contactSearch {
    display: flex;
    flex-direction: row;
    border: 3px solid red;

&__Text {
    display: flex;
    flex-wrap: wrap;
    width: 480px;
   
}


&__box {
    border: 1.5px solid black;

    &__spyGlass {   
    height: 20px;
    width: 20px;
    object-fit: cover;

        }
    &__button {
        background: transparent;
        border: none;
        outline: none;
        margin-left: -33px;
    


    }

    &__inputBox {
    border: none;
    // background-image: url("./../../assets/images/spyglass.png");
    // position: relative;

    }
    }   
   
}
