@use "./../../assets/sass/_variables.scss" as *;

* {
    margin: 5px;
    padding: 2px;
}

.contactSearch {
    display: flex;
    flex-direction: row;
    // border: 3px solid red;
    width: 100%;
    justify-content: space-between;
    height: 75px;
    font-family: $third-font-family;

    &__addButton {
        color: $color-button-primary;
        width: 106px;
        border-radius: 6px;
        border: 1px solid $color-button-primary;
        height: 50px;
        background-color: $color-white;
    }

    &__Text {
        display: flex;
        flex-wrap: wrap;
        max-width: 480px;
        align-content: center;

        font-size: 16px;
        color: $color-medium-gray;
    }

    &__box {
        display: flex;
        flex-direction: row;
        // border: 1.5px solid black;
        background-color: $color-light-gray-info-bar;
        border-radius: 8px;
        width: 221px;

        &__button {
            background: transparent;
            border: none;
            outline: none;


            &__spyGlass {
                height: 20px;
                width: 20px;
                object-fit: cover;
                color: $color-spyglass-gray;
            }
        }

        &__inputBox {
            border: none;
            outline: none;
            width: 64px;
            font-family: $title-font-family;
            // background-image: url("./../../assets/images/spyglass.png");
            // position: relative;
        }
    }
    // div has all the search stuff included.
    .searchStuff {
        display: flex;
        flex-direction: row;
    }
    

}