@use "../../assets/sass/variables.scss" as *;

.sidemenu{
    display: flex;
    flex-direction: column;
    height:87vh;
    //width:12%;
    padding-left: 20px;
    margin: 20px;
    min-width: 230px;
    &__items, &__signout {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        .sidemenu__item{
            padding: 10px;
            display: flex;
            flex-direction: row;
            *{
                text-decoration: none;
                font-size: 16px;
                color: $color-link;
                padding: 5px;                
            }
            
            *:hover +.sidemenu__a, *:active +.sidemenu__a{
                color: $color-button-background;
            }

            *:hover, *:active{
                color: $color-button-background;
            }

            .sidemenu__icon:hover,.sidemenu__icon:active{
                background-color: $color-button-background;
                border-radius:50%;
                opacity:0.4;
                filter:alpha(opacity=40);
            }
        }
        .sidemenu__item:active, .sidemenu__item:hover{
            border-right: 10px ridge $color-button-background;
        }
    }
    &__signout {
        position:absolute;
        bottom:5%;
    }
}
