@use "../../assets/sass/_variables.scss" as *;

.fx-transaction{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: $color-light-gray-info-bar;
    padding: 20px 40px;
    border: 1px solid $color-light-gray-info-bar;
    border-radius: 8px;
    margin: 40px 0px;
    width: 600px;
    height: 600px;


    &__amount {
        h2 {
            color: $color-black;
            font-size: 24px;
            font-weight: 400;
        }
        &__details{
            border: 1px solid $color-border-light-gray;
            background-color: $color-white ;
            width: 520px;
            display: flex;
            justify-content: space-between;
            padding: 10px 20px;
            box-sizing: border-box;

            &__currency{
                display: flex;
                justify-items: flex-start;

                .fx-transaction__amount__name{
                    font-size: 18px;
                }

                .fx-transaction__amount__img{
                    padding-right: 20px;
                }


            }
        }
    }

}