@use "../../assets/sass/_variables.scss" as *;

.fx-transaction{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: $color-light-gray-info-bar;
    padding: 20px 40px;
    border: 1px solid $color-light-gray-info-bar;
    border-radius: 8px;
    margin: 40px 0px;
    width: 600px;
    height: fit-content;

    &__amount { 
        width: 100%;
       
        h2 {
            color: $color-black;
            font-size: 24px;
            font-weight: 400;
            padding: 0px 0px 20px 0px;
        }
        &__details{
            font-family: $third-font-family;
            border: 1px solid $color-border-light-gray;
            background-color: $color-white ;
            display: flex;
            justify-content: space-between;
            padding: 10px 20px;
            box-sizing: border-box;
          

            &__currency{
                display: flex;
                justify-items: flex-start;
                filter: drop-shadow(0px 16.7658px 44.7087px $color-black);

                .fx-transaction__amount__name{
                    font-size: 18px;
                    color: $color-font-light-gray;
                }

                .fx-transaction__amount__img{
                    padding-right: 20px;
                }
            }

            .fx-transaction__amount__amount{
                font-size: 16px;
                color: $color-font-light-gray;
            }
        }
    }

    &__fee {
        border-top: 1px solid $color-background-clear;
        border-bottom: 1px solid $color-background-clear;
        padding: 40px 0px;
        margin: 40px 0px;
        width: 100%;

        p {
            font-size: 16px;
            font-weight: 400;
            color: $color-font-light-gray;
            font-family: $third-font-family;
        }

        h3 {
            font-weight: 400;
            color: $color-black;
            font-family: $title-font-family;
        }

        &__details{
            
            display: flex;
            justify-content: space-between;
            // padding: 20px 0px;

            &__rate{
                display: flex;
                align-content: center;
            }

            h3 {
                font-size: 16px;
            }

            .infosign{
                width: 20px;
                height: 20px;
                color: $color-black;
                margin: 0px 5px;
                
            }
        }

        &__delivery {
            display: flex;
            justify-content: space-between;

            h3 {
                font-size: 20px;
            }
        }

    }

    &__total {
        display: flex;
        justify-content: space-between;
        width: 100%;

        h3 {
            font-size: 20px;
            font-weight: 400;
            font-family: $title-font-family;
            color: $color-black;
        }

        p {
            font-size: 16px;
            font-weight: 400;
            font-family: $third-font-family;
            color: $color-font-light-gray;
            padding: 5px 0px;
        }
    }
}