@use "./../../assets/sass/_variables.scss" as *;


.contact {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-family: $title-font-family;
    padding-left: 50px;

    .contact__Title {
        font-weight: 500;
        color: $color-middle-blue;
        font-size: 12px;
        padding: 20px 0 0 0;
    }
    
    .contact__Heading {
        font-weight: 400;
        color: $color-black;
        font-size: 32px;
        padding: 10px 0;
    }
    
}

