@use "./../../assets/sass/_variables.scss" as *;


.contactPage {
    text-align: center;
    display: flex;
    flex-direction: row;

.placeholders__right {
        display: flex;
        flex-direction: column;
      }
}

.contact {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-family: $title-font-family;

    .contact__Title {
        font-weight: 500;
        color: $color-middle-blue;
        font-size: 12px;
    }
    
    .contact__Heading {
        font-weight: 400;
        color: $color-black;
        font-size: 32px;
    }
    
}

