@use "./../../assets/sass/_variables.scss" as *;
.contact {
    width: 100%;
    display: table-row;

    &__bankIcon__img {
        width:40px;
    }
    &__delete__icon {
        width: 20px;
    }
}