.contact {
    // display: grid;
    border: 2px solid black;
    width: 100%;
    display: table-row;
    &__bankIcon__img {
        width:40px;
    }
    &__deleteIcon {
        width: 20px;
    }
}