@use "./../../assets/sass/_variables.scss" as *;

.transactionRow {
    // width: 100%;
    display: table-row;
    background-color: red;
    &:hover {
        background-color: aqua;
      }
   
    
}