@use "../../assets/sass/_variables.scss"as *;

.fundsBox{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 20px;

    width: 250px;
    height: 240px;
    margin-left: 40px;
    border: 3px solid $color-border-light-gray;
    background-color: $color-middle-blue;
    border-radius: 25px 0 25px 25px;
    font-family: $third-font-family;
    color: $color-white;



    &__content{
        margin-left: 25px;
            &__title {
                display: flex;
                justify-content: left;
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
            }
            &__amount{
                font-size: 48px;           
            }
            &__manage{
                margin-top: 15px;
            }
            &__text{
                margin-top: 30px;
                font-size: 12px;
                font-weight: 400;
            }

    }
}

