$color-black: #06020A;
$color-blue: #0B2251;
$color-white: #FFFFFF;
$color-lightblue: #0AF8FF;
$color-middle-blue: #00CED4;
$color-light-gray: #839AAF;


$color-button-primary: #00CED4;
$color-button-primary-lighter: rgba(0, 206, 212, 0.4);

$color-font-gray: #5B6D7D;
$color-font-lightgray: #8896A3;
$color-nav-font-light-gray: #A6AFBD;
$color-nav-font-dark-gray: #343C49;
$color-input-border-light-gray: #E2E2E2;
$color-separator-light-gray: #F1F1F1;
$color-msg-valid: #57E141;
$color-msg-invalid: #DF1C1C;


$color-light-gray-info-bar: #FBFBFC;
$color-background: #EFFFFF;

$title-font-family: 'Outfit';
$secondary-font-family: 'Lato';
$nav-font-family: 'Roboto';
$third-font-family: 'Inter';
