
@use "../../assets/sass/variables.scss" as *;

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.footernav{
    background-color: $color-top-link-hover;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    *{
        text-decoration: none;
        padding: 5px;
        margin: 5px;
    }
    &__centerlinks, &__signin{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        *{
            padding: 10px;
            color: $color-link;
            font-size: 16px;
        }
        *:hover, *:active{
            color: $color-white;
        }
        .signup{
            background-color: $color-button-background;
            color:$color-white;
            border-radius: 6px;
        }

    }
}