
@use "../../assets/sass/variables.scss" as *;

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.footernav{
    background-color: $color-black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    *{
        text-decoration: none;
        padding: 0 45px 10px 20px;
        margin: 5px;
    }
    &__centerlinks, &__signin{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        *{
            margin-left:30px;
            padding: 10px;
            color: $color-light-gray;
            font-size: 16px;
        }
        *:hover, *:active{
            color: $color-white;
        }
        .signup{
            background-color: $color-middle-blue;
            color:$color-white;
            border-radius: 6px;
        }

    }
}