@import url('https://fonts.googleapis.com/css2?family=Outfit');
@import url('https://fonts.googleapis.com/css?family=Inter');
.App {
    text-align: center;
    display: flex;
    flex-direction: row;
    // margin: 10px;
    .right-side {
      display: flex;
      flex-direction: column;
    }
  }
