@use "./assets/sass/_variables.scss" as *;
@import url('https://fonts.googleapis.com/css2?family=Outfit');
@import url('https://fonts.googleapis.com/css?family=Inter');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

// .app {
//     display: flex;
//     justify-content: center;
    
// }
// * {
//     font-family: $title-font-family;
// }


.button-blue {
    width: 114px;
    height: 40px;
    background: $color-middle-blue;
    border: $color-middle-blue;
    border-radius: 6px;
    font-family: $third-font-family;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: $color-white;
}

.button-blue-disabled {
    width: 116px;
    height: 48px;
    background: rgba(0, 206, 212, 0.4);
    border: $color-middle-blue;
    border-radius: 6px;
    font-family: $third-font-family;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color:$color-white;

}

.button-blue-white-border {
    box-sizing: border-box;
    width: 114px;
    height: 41px;
    background: $color-middle-blue;
    border: 2px solid $color-white;
    font-family: $third-font-family;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px; /* identical to box height */
    text-align: center;
    color: $color-white;

}


.button-light-blue {
    box-sizing: border-box;
    width: 214px;
    height: 64px;
    border: 1px solid $color-middle-blue;
    border-radius: 6px;
    background: #F1FFFF;
    font-family: $third-font-family;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 110%;
    text-align: center;
    color: $color-middle-blue;

}

.button-white {
    width: 121px;
    height: 58px;
    background: $color-white;
    border-radius: 6px;
    font-family: $third-font-family;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: $color-middle-blue;
    border: $color-white;
}

.button-dashed {
    box-sizing: border-box;
    width: 108px;
    height: 32px;
    border: 1px dashed $color-font-light-gray;
    border-radius: 8px;
    font-family: $third-font-family;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: color-font-light-gray;
}
.button-test {
    display: flex;
    margin: 50px;
    background: #F1FFFF;
}