$color-black: #06020A;
$color-white: #ffffff;
$color-blue: #0B2251;
$color-lightblue: #0AF8FF;
$color-middle-blue: #00CED4;
$color-light-gray: #839AAF;
$color-loginFlow-white: #fbfbfc;
$color-loginFlow-lightGray: #e2e2e2;
$color-loginFlow-gray: #8896a3;
$color-loginFlow-darkGray: #5b6d7d;
$color-green: #57e141;
$color-red: #df1c1c;

$title-font-family: 'Outfit';
$secondary-font-family: 'Lato';
$nav-font-family: 'Roboto';
$third-font-family: 'Inter';

$color-button-primary: #00CED4;
$color-button-primary-lighter: rgba(0, 206, 212, 0.4);

$color-font-gray: #5B6D7D;
$color-font-lightgray: #8896A3;
$color-nav-font-light-gray: #A6AFBD;
$color-nav-font-dark-gray: #343C49;
$color-input-border-light-gray: #E2E2E2;
$color-separator-light-gray: #F1F1F1;
$color-msg-valid: #57E141;
$color-msg-invalid: #DF1C1C;


$color-light-gray-info-bar: #FBFBFC;
$color-background: #EFFFFF;




