$color-black: #06020A;
$color-white: #ffffff;
$color-blue: #0B2251;
$color-lightblue: #0AF8FF;
$color-middle-blue: #00ced4;
$color-background: #F1FFFF;
$color-light-gray: #839aaf;
$color-loginFlow-white: #fbfbfc;
$color-loginFlow-lightGray: #e2e2e2;
$color-loginFlow-gray: #8896a3;
$color-loginFlow-darkGray: #5b6d7d;
$color-green: #57e141;
$color-red: #df1c1c;
$title-font-family: 'Outfit';
$secondary-font-family: 'Lato';
$nav-font-family: 'Roboto';
$third-font-family: 'Inter';



